
/* Layout */
.container {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;

    margin-top: 50px;
    gap: 24px;
}

.left-side {
  
}

.right-side {
  
}

/* Shared */
.form-container, .followers-container, .following-container {
  box-shadow: 1px 1px 1px 1px;
  padding: 12px;
}

.form-title, .followers-title, .following-title {
  font-size: 24px;
  text-align: center;
  padding-bottom: 12px;
}

/* Form */
.form-container {
  margin-bottom: 36px;
}

/* Following */
.following-container {
  /* max-width: 200px; */
}

.followings {
  display: flex;
  flex-direction: column;
}

.following {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  word-wrap: break-word;
}

.following > div {
  margin-right: 24px;
  max-width: 200px;
}

/* Followers */
.followers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.follower {
  word-wrap: break-word;
  max-width: 200px;
}