
.header {
  display: flex;
  margin: 8px;
  flex-wrap: wrap;
  box-shadow: 1px 1px 1px 1px;
}

.left-header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.left-header > div {
  font-size: 24px;
}

.right-header {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12%;
}

.right-header button {

}

